<!DOCTYPE html>
<html>
  <head>
    <title>Here is your Item!</title>
  </head>
  
  <body>
    <h1>You have purchased an item!</h1>
    <strong>Here is your item: <%= @session["item"] %></strong>
  </body>
</html>