<!DOCTYPE html>
<html>
  <head>
    <title>Here is your Item!</title>
  </head>
  
  <body>
    <h1>You have purchased an item!</h1>
    <h2>Here is your item:</h2>
    <p><%= @session["item"] %></p>
  </body>
</html>